<?php

$config['protocol'] = "smtp";
$config['smtp_host'] = "ssl://smtp.gmail.com";
$config['ss']['verify_peer'] = false;
$config['ss']['verify_peer_name'] = false;
$config['ss']['allow_self_signed'] = true;
$config['smtp_port'] = 465;
$config['charset'] =  "utf-8";
$config['newline'] = "\r\n";
$config['mailtype'] = "html";

$config['smtp_user'] = "lms.email.manager@gmail.com";
$config['smtp_pass'] = "LMS!2019";



